@import 'open-props/style';
@import 'open-props/normalize';

/* themes */
:root {
	--brand: #ff75ff;
	--link: #4b75ff;
	--surface-1: #f6f0ed;
	--text-1: #222222;
	--accent: #3cff3c;
	--light: #a790a799;
}

@media (prefers-color-scheme: dark) {
	:root {
		--brand: #3cff3c;
		--surface-1: #222222;
		--text-1: #f6f0ed;
		--accent: #ff75ff;
		--link: #829fff;
	}
}

:root {
	font-family: var(--font-humanist);
	font-weight: var(--font-weight-5);

    margin: var(--size-3);
}

::selection {
	background: rgba(200, 200, 200, 0.4);
	text-shadow: #222222;
}

/* text */
h1{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-5);
}

h2{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-6);
}

h3{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-4);
}

h4{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-5)
}

p{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-4);
}

/* spacing */
hr{
    padding: 0;
    margin-block: var(--size-1);
    background-color: rgba(1, 1, 1, .1);
    /* margin-bottom: var(--size-2); */
    box-shadow: var(--inner-shadow-4);
}

/* container */
.centerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
}

@media (min-width: 750px){
    .centerContainer{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        width: 100vw;
    }
}